# データ解析に便利なデータ構造を提供するpandas

## １次元の配列、Seriesオブジェクト

In [ ]:
# コード/pandasをインポートする
import numpy as np
import pandas as pd

# 13-3-1/Seriesオブジェクトを生成する
s = pd.Series([1, 2, 3])
s

In [ ]:
# 13-3-2/Seriesオブジェクトの合計値を求める
s.sum()

## ２次元の配列、DataFrame

In [ ]:
# 13-3-3/Seriesオブジェクトの合計値を求める
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df

In [ ]:
# 13-3-4/ランダムな数値からなるDataFrame
df = pd.DataFrame(np.random.randn(6, 4))
df

## 行・列に名前をつける

In [ ]:
# 13-3-5/DataFrameのindexに日付を指定
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6))
df

In [ ]:
# 13-3-6/DataFrameのcolumnsに列名を指定
df = pd.DataFrame(np.random.randn(6, 4), index=pd.date_range('20220101', periods=6), columns=['A', 'B', 'C', 'D'])
df

In [ ]:
df.T

# DataFrameの一部のみを表示する

In [ ]:
# 13-3-7/DataFrameの先頭
df.head(1)

In [ ]:
# 13-3-8/DataFrameの末尾
df.tail(3)

In [ ]:
# 13-3-9/index属性
df.index

In [ ]:
# 13-3-10/columns属性
df.columns

In [ ]:
# 13-3-11/values属性
df.values

In [ ]:
# 13-3-12/describeメソッド
df.describe()

## DataFrame内のデータを並べ替える

In [ ]:
# 13-3-13/B列の値でソート
df.sort_values(by='B')

## 列や行を指定してデータを取り出す

In [ ]:
# 13-3-14/行の範囲を指定
df[0:3]

In [ ]:
# 13-3-15/行の範囲を指定
df['20220102':'20220104']

In [ ]:
# 13-3-16/locプロパティでインデックスを指定
df.loc['20220101']

In [ ]:
# 13-3-17/locプロパティでインデックスと列を指定
df.loc['20220102', ['A', 'B']]

In [ ]:
# 13-3-18/locプロパティでインデックスの範囲を指定
df.loc['20220102':'20220104', ['A', 'B']]

In [ ]:
# 13-3-19/locプロパティですべての行を指定
df.loc[:, ['A', 'B']]

In [ ]:
# 13-3-21/ilocプロパティで数値で要素を指定
df.iloc[0:2, 0:2]

## 条件にあてはまるデータだけを抽出する

In [ ]:
# 13-3-22/A列の値が0より大きい行を抽出
df[df.A > 0]

In [ ]:
# 13-3-23/0より大きい値を抽出
df[df > 0]

# データの追加・結合

## 新しいデータを追加する

In [ ]:
# 13-3-24/データを追加
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

In [ ]:
# 13-3-25/E列の値で行を抽出
df2[df2['E'].isin(['one', 'four'])]

In [ ]:
# 13-3-26/行をずらす
df2.shift(1)

## DataFrameを結合する

In [ ]:
# 13-3-27/DataFrameを抽出
df = pd.DataFrame(np.random.randn(2, 2))
df

In [ ]:
# 13-3-28/concat関数で変数df２つを結合
pd.concat([df, df])

In [ ]:
# 13-3-29/4行×2列のDataFrameを生成
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'], 'B': np.random.randn(4)})
df

In [ ]:
# 13-3-30/groupbyメソッドでグループ化
df.groupby('A').sum()